services:
  db:
    image: postgres:18-alpine
    container_name: cloudmesh-postgres
    restart: unless-stopped
    env_file: .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}" ]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - cloudmesh-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cloudmesh-backend
    env_file: .env
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - cloudmesh-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: cloudmesh-frontend
    ports:
      - "3000:3000"
    networks:
      - cloudmesh-network


volumes:
  pgdata:

networks:
  cloudmesh-network:
    driver: bridge
