server:
  port: 8081

spring:
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
  application:
    name: cloudmesh-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: oauth2-authorization
              uri: ${SPRING_CLOUD_GATEWAY_ROUTES_0_URI:http://localhost:8080}
              predicates:
                - Path=/oauth2/**
              filters:
                - StripPrefix=0
            - id: oauth2-login
              uri: ${SPRING_CLOUD_GATEWAY_ROUTES_1_URI:http://localhost:8080}
              predicates:
                - Path=/login/oauth2/**
              filters:
                - StripPrefix=0
            - id: auth
              uri: http://backend:8080
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=0
            - id: graphql
              uri: http://backend:8080
              predicates:
                - Path=/graphql
              filters:
                - StripPrefix=0
            - id: hello-service
              uri: http://backend:8080
              predicates:
                - Path=/hello/**
              filters:
                - name: RequestRateLimiter
                  args:
                    key-resolver: "#{@userKeyResolver}"
                    redis-rate-limiter.replenishRate: 20
                    redis-rate-limiter.burstCapacity: 50
                    redis-rate-limiter.requestedTokens: 1
jwt:
  secret: ${JWT_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.data.redis: DEBUG