name: "Publish Docker Images"

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Backend
      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/kjswaruph/cloudmesh-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Gateway
      - name: Build and push Gateway
        uses: docker/build-push-action@v5
        with:
          context: ./cloudmesh-gateway
          file: ./cloudmesh-gateway/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/kjswaruph/cloudmesh-gateway:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Frontend
      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/kjswaruph/cloudmesh-frontend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
